version: '3.7'
services:
  DjangoServiceName:
    restart: unless-stopped
    image: DjangoImageName
    container_name: DjangoContainerName
    pull_policy: always
    networks:
      - caddy
    labels:
      caddy: DjangoUrlName
      caddy.reverse_proxy: "{{upstreams DjangoPortNum}}"
      caddy_0.tls.ca: https://acme-staging-v02.api.letsencrypt.org/directory
networks:
  caddy:
    external: true